@import "./sass/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  padding: 50px 5%;
  background-color: $veryLightGray;
  &.dark {
    background-color: $veryDarkBlueBackground;
  }
}
